<template>
  <div class="about">
    <h1>About {{id}}</h1>

    <h2 @click="Redirect">Redirect Info</h2>

    <h3 @click="Back">Go back</h3>
  </div>
</template>

<script>
export default {
  name: "about",
  data() {
    return {
      id: this.$route.params.id
    };
  },
  methods: {
    Redirect() {
      return this.$router.replace("/info");
      //return this.$router.go(1);// go forward
    },
    Back() {
      return this.$router.go(-1); // go back
    }
  },
  computed: {
    show() {
      return this.id == 1 ? "one" : "two";
    }
  }
};
</script>