<template>
    <div class="home">
<img src="../assets/logo.png" alt="Vue logo">
<HelloWorld msg="Wellcome Vue "/>
    </div>
</template>


<script>
//import HelloWorld from "./components/HelloWorld.vue";
import HelloWorld from "@/components/HelloWorld.vue";

export default{
    name:"home",
    components:{
        HelloWorld
    }
};
</script>