<template>
  <div class="hello">
    <ul class="list-menu">
      <li
        v-for="item in listMenu"
        :key="item.id"
        v-on:click="Show(item.id)"
        :class="[activeMenu==item.id?'active':'']"
      >{{ item.label }}</li>
    </ul>
    <h1>{{ msg }}</h1>



    <!-- <div>
      <slot name="header" :title="text"></slot>
    </div>
    <div>
      <slot name="body"></slot>
    </div>
    <div>
      <slot name="footer"></slot>
    </div> -->

    <!-- <h2
      class="font-italic"
      :class="{ active: (numbers <= 0), 'font-weight-bold': (numbers == 0)}"
    >Show method: {{ lable1() }}</h2>
    <h2 class="font-italic" :class="{ active: (numbers > 0)}">Show computed: {{ lable2 }}</h2>
      <div>
      <input type="text" v-model="text" />
    </div>  
    <div>
      <input type="text" v-model="numbers" placeholder="nhập số" />
    </div>-->

    <p>
      For a guide and recipes on how to configure / customize this project,
      <br />check out the
      <a
        href="https://cli.vuejs.org"
        target="_blank"
        rel="noopener"
      >vue-cli documentation</a>.
    </p>
    <h3>Installed CLI Plugins</h3>
    <ul>
      <li>
        <a
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel"
          target="_blank"
          rel="noopener"
        >babel</a>
      </li>
      <li>
        <a
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint"
          target="_blank"
          rel="noopener"
        >eslint</a>
      </li>
    </ul>
    <h3>Essential Links</h3>
    <ul>
      <li>
        <a href="https://vuejs.org" target="_blank" rel="noopener">Core Docs</a>
      </li>
      <li>
        <a href="https://forum.vuejs.org" target="_blank" rel="noopener">Forum</a>
      </li>
      <li>
        <a href="https://chat.vuejs.org" target="_blank" rel="noopener">Community Chat</a>
      </li>
      <li>
        <a href="https://twitter.com/vuejs" target="_blank" rel="noopener">Twitter</a>
      </li>
      <li>
        <a href="https://news.vuejs.org" target="_blank" rel="noopener">News</a>
      </li>
    </ul>
    <h3>Ecosystem</h3>
    <ul>
      <li>
        <a href="https://router.vuejs.org" target="_blank" rel="noopener">vue-router</a>
      </li>
      <li>
        <a href="https://vuex.vuejs.org" target="_blank" rel="noopener">vuex</a>
      </li>
      <li>
        <a
          href="https://github.com/vuejs/vue-devtools#vue-devtools"
          target="_blank"
          rel="noopener"
        >vue-devtools</a>
      </li>
      <li>
        <a href="https://vue-loader.vuejs.org" target="_blank" rel="noopener">vue-loader</a>
      </li>
      <li>
        <a href="https://github.com/vuejs/awesome-vue" target="_blank" rel="noopener">awesome-vue</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      listMenu: [
        {
          id: 1,
          label: "Trang chủ",
          link: "/",
          isActive: true
        },
        {
          id: 2,
          label: "Thời sự",
          link: "/thoi-su",
          isActive: true
        },
        {
          id: 3,
          label: "Chính trị",
          link: "/chinh-tri",
          isActive: true
        },
        {
          id: 4,
          label: "Tuổi trẻ",
          link: "/tuoi-tre",
          isActive: true
        },
        
      ],
      text: "Tiều đề",
      activeMenu: "",
      numbers: 0
    };
  },
  props: {
    msg: String
  },
  methods: {
    Show: function(id) {
      this.activeMenu = id;
    },
    lable1: function() {
      return this.numbers;
    }
  },
  computed: {
    lable2: function() {
      return this.numbers;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.list-menu li.active {
  background: yellow;
}
.active {
  color: red;
}
</style>
