<template >
<div id="info">
  <h2 style="color:blue;"> InfoUser: {{this.$route.params.id}}</h2>
  
  </div>
</template>

<script>
export default {
  name: "InfoUser",
  
  props:{
    username: String,
  }
};
</script>