 <template>
  <div class="login">
    {{msg}}
    <div>
      <label for>User name:</label>
    </div>
    <div>
      <input type="text" v-model="info.userName" id="userName" />
      <br />
    </div>
    <div>
      <label for>Password:</label>
    </div>
    <div>
      <input type="text" v-model="info.password" id="password" />
      <br />
    </div>
    <input type="button" @click="checkLogin" value="Submit" />
    <br />
    <label v-show="isLoggingIn" for>{{warning}}</label>
    <label v-show="!isLoggingIn" for>{{warning}}</label>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      info: { userName: "", password: "" },
      warning: "",
      isLoggingIn: false
    };
  },
  props: {
    msg: String
  },
  methods: {
    checkLogin() {
      if (this.info.userName == "abc" && this.info.password == "123") {
        this.warning = "Wellcome";
        this.isLoggingIn = true;

         
        this.$emit("getInfo", this.info.userName);
      } else {
        this.warning = "Wrong user or pass!";
        this.isLoggingIn = false;

        this.$emit("getInfo", this.info.userName);
      }
    }
  }
};
</script>

<style scoped>
</style>