<template>
  <div id="nav">
    <router-link to="/">Home</router-link>
    <router-link :to="{name:'About', params:{id:1}}">About 1</router-link>
    <router-link :to="{name:'About', params:{id:2}}">About 2</router-link>
    <router-link :to="{name:'Info'}">Info</router-link>


  </div>
</template>

<script>
export default {
  name: "Navigation",
  props: {
    msg: String
  }
};
</script>

<style>
#nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
  padding: 0px 10px;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
