<template>
  <div id="app">

    <Navigation />

  <router-view :key="this.$route.path"></router-view>

    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->


    <!-- props down
    <InfoUser :username="user.username"></InfoUser>   
    <div style="color:red"> app: {{user.username}}</div>
    <br />
    event up + props down
    <Login @getInfo="showInfo" :msg="msg"></Login> -->

    <!-- <HelloWorld msg="Welcome to Your Vue.js App">
      <template v-slot:header="{title}">
        <h2>slot header .. {{title}} ..</h2>
      </template>

      <template v-slot:footer>
        <h2>slot footer</h2>
      </template>
    </HelloWorld> -->
    
  </div>
</template>

<script>
import Navigation from "./components/Navigation.vue";

//import HelloWorld from "./components/HelloWorld.vue";
// import Login from "./components/Login.vue";
// import InfoUser from "./components/InfoUser.vue";

export default {
  name: "App",
  components: {
    Navigation
    //HelloWorld,
    // Login,
    // InfoUser
  },
  data() {
    return {
      user: {
        username: ""
      },
      msg2: "Login"
    };
  },
  methods: {
    showInfo(userName) {
      this.user.username = userName;
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
 
</style>
